<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHHBT3P7E9ccfHHhC9-sP2wIOqTt_r3mw</string>
	<key>GCM_SENDER_ID</key>
	<string>1085432450848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ticTacToeFlutter</string>
	<key>PROJECT_ID</key>
	<string>tictactoe-50bcd</string>
	<key>STORAGE_BUCKET</key>
	<string>tictactoe-50bcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085432450848:ios:70c1118bf45dcbcec71145</string>
</dict>
</plist>